.layoutStyle{
align-items: center;
margin: 0 10% 0 10%;
}
@media (max-width:768px) {
    .layoutStyle{
        align-items: center;
        margin: 0 5rem 0 5rem;
        } 
}
@media (max-width:425px) {
    .layoutStyle{
        align-items: center;
        margin: 0;
        padding: 0 1rem;
        } 
}